# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2026 Micro <microgamercz@proton.me>
[Desktop Entry]
Name=Omopatch
Comment=Instalační program pro českou lokalizaci Omori
Version=1.0
Exec=omopatch
Icon=omori
Type=Application
Terminal=false
